
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


.App {
  /* text-align: center; */
  font-family: 'Merriweather', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3A1772;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  position: relative;
  /* width: 100%;
  height: 800px;
  overflow: hidden;
  background-image: url('./sections/collage2.png');
  filter: blur(5px) */
}

.backgound {
  width: 100%;
  height: 800px;
  overflow: hidden;
  background-image: url('./sections/collage2.png');
  filter: blur(5px)
}

.name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.introDiv {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-around;
  align-self: center;
  text-align: center;
}

.bodyContent {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.projectsDiv {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-self: center;
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.projectTitle {
  display: block;
  text-align: center;
  
}

.special {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgb(255, 207, 247);
}

.projectSubtitle {
  display: inline;
}

.projectDesciption {
  display: inline;
  text-align: left;
}

.contactDiv {
  text-align: center;
}

.contactItemDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contactItem {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  flex-basis: 30%;

}

.icon {
  scale: 2;
  display: inline;
  padding: 7px 8px 3px 5px;
  /* padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%; */
}

.social {
  display: inline;
}

.skillContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.skillItemContainer {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  flex-basis: 20%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.skillItem {
  display: inline;
  /* padding-bottom: 2%; */
  /* padding-top: 2%; */
  margin-bottom: 2%;
}

.skillsDiv {
  text-align: center;
}

img {
  /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
  width: 100%;
  height: auto;
  /* max-height: 900px; */
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  box-shadow: 2px 1px 5px black;;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c89ec3ec;
  /* opacity: 0.8; */
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: black;
  width: 95%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-align: center; */
}

html {
  scroll-behavior: smooth;
}

.contactLink {
  color: inherit;
  text-decoration: inherit;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  width: 100%;
  background-image: url('./sections/1.png');
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px black;
  align-items: center;
  margin-bottom: 25px;
}

.pic {
  
  /* max-width: 500px; */
  /* width: x; */
  /* padding: 15px; */
  padding-right: 15px;
  height: auto;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.text2 {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  flex-shrink: 2;
  flex-basis: auto;
  align-self: flex-start;
  order: 0;
  justify-content: flex-start;
  
}

.image2 {
  border-radius: 15px;
  box-shadow: 1px 1px 8px black;
  width: 400px;
}

.image3 {
  border-radius: 15px;
  box-shadow: 1px 1px 8px black;
  width: 400px;
  filter: grayscale(100%);
}

.image3:hover {
  border-radius: 15px;
  box-shadow: 5px 5px 18px black;
  filter: grayscale(0%);
  /* width: 420px; */
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
  width: 100%;
  background-image: url('./sections/1.png');
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px black;
  align-items: center;
  margin-bottom: 25px;
  height: 400px;
}


.image3a {
  border-radius: 15px;
  box-shadow: 1px 1px 8px black;
  width: 400px;
  filter: grayscale(100%);
}

.image3a:hover {
  border-radius: 15px;
  box-shadow: 5px 5px 18px black;
  filter: grayscale(0%);
  /* width: 420px; */
}

.image3b {
  border-radius: 15px;
  box-shadow: 1px 1px 8px black;
  width: 400px;
  filter: grayscale(100%);
}

.image3b:hover {
  border-radius: 15px;
  box-shadow: 5px 5px 18px black;
  filter: grayscale(0%);
  /* width: 420px; */
}

.image3c {
  border-radius: 15px;
  box-shadow: 1px 1px 8px black;
  width: 400px;
  filter: grayscale(100%);
}

.image3c:hover {

  /* animation: myAnim 1s ease 0s 1 normal forwards; */
  border-radius: 15px;
  box-shadow: 5px 5px 18px black;
  filter: grayscale(0%);
  /* width: 420px; */
}

@keyframes myAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.littleButton {
  width: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #957fd1;
  justify-self: center;
  margin-top: 15px;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.buttonHolder {
  display: flex;
  justify-content: center;
}

.leftHolder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.littleButton:hover {
  width: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #4B51E8;
  justify-self: center;
  margin-top: 15px;
  cursor: pointer;
}