.navBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #f1aff1;
}

/* .navItem {
    cursor: pointer;

    background-image: linear-gradient(#f1aff1 0 0);
    background-size: 0;
    background-repeat: no-repeat;
    transition: .4s;

}

.navItem:hover{
    background-size: 100%;
} */



.navItem {
    width: 10%;
    background-image: linear-gradient(#f758f7,#f758f7);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
  }
  .navItem:hover {
    background-size: 100% 100%;
  }

.headItem {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }